{
  "users": [],
  "annualGoals": [],
  "mboGoals": [],
  "kpis": [],
  "tasks": [],
  "comments": [],
  "vacationPlans": [],
  "trainingPlans": [],
  "calendarEvents": [],
  "proposals": [],
  "weeklyUpdates": []
}

